html {
  font-size: 62.5%;
}

body {
  background-color: transparent;
  color: #3f3f3f;
  font-size: 1.4em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}
